.main-container {
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.placeholder-card {
    width: 100px;
    height: 150px;
    background-color: #cbe8eb;
    border-radius: 12px;
    margin: 0 8px;
}

/* .button-group button {
    margin: 0 0.5rem;
    padding: 10px 16px;
    border: 1px solid teal;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
} */

.button-group .danger {
    border-color: red;
    color: red;
}